<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.walware.statet.r.launchConfigurationTypes.RCmdTool">
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.cmd" value="CMD build"/>
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.options" value="--binary --no-vignettes"/>
<stringAttribute key="de.walware.statet.r.debug/RCmd/arguments.resource" value="C:\benoit\pkg\bmisc"/>
<stringAttribute key="de.walware.statet.r.debug/REnv/REnvSetting" value="user-local-huubmjgfe968;R-2.13.1"/>
<stringAttribute key="de.walware.statet.r.debug/REnv/workingDirectory" value="C:\benoit\pkg"/>
<stringAttribute key="de.walware.statet.r/renv/REnvCode" value="user-local-huubmjgfe968;R-2.13.1"/>
<stringAttribute key="de.walware.statet.r/renv/WorkingDirectory" value="C:\benoit\pkg"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="C:\benoit\pkg\BUILD BMISC OUTPUT.TXT"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="ISO-8859-1"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
</launchConfiguration>
